.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: 20px;
}

.card img {
    width: 100px;
    height: 150px;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.card-content input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-content button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card-content button:hover {
    background-color: #218838;
}